

<footer>
    <div class="container-fluid footer">
        <div class="subscribe container ">
            <div class="row">
            <div class="col-md-6 subscribe1 ">
                <h3>SUBSCRIBE TO GET </h3>
                <h3>OUR LATEST UPDATES</h3>
            </div>
            <div class="col-md-6 subscribe1 ">
                <form action="">
                    <div style="width:460px" class="input-box">
                    <input type="text" id="email" name="email" value="" placeholder="Your email address" class="form-control ">
                    <button id="email-btn" type=""><span>Sign Up</span></button>
        
                </div>
            </form>
            </div>
        </div>
        
        </div> 
        <div class="container">
        <div class="row footer2">
            <div class="col-md-3">
                <h2>Gear Up & Glow </h2>
                <br>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i class="fa fa-brands fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com"target="_blank"><i class="fa fa-brands fa-x-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com"target="_blank"><i class="fa fa-brands fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://youtube.com"target="_blank"><i class="fa fa-brands fa-youtube"></i></a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h2>NAVIGATIONS</h2>
                <ul class="list">
                    <li class="list-item"><a href="/">HOME</a></li>
                    <li class="list-item"><a href="/store">STORE</a></li>
                    <li class="list-item"><a href="/about">ABOUT</a></li>
                    <li class="list-item"><a href="/contact">CONTACT</a></li>
                    <li class="list-item"><a href="/cart">CART<i class="fa fa-shopping-cart"></i></a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h3>CONTACT</h3>
                <ul class="list">
                    <li class="list-item"><a href="tel:+923125800367"><i class="fa fa-phone">&nbsp</i>+9312-5800367</a></li>
                    <li class="list-item"><a href="tel:+923345858567"><i class="fa fa-phone">&nbsp</i>+9334-5858567</a></li>
                    <li class="list-item"><a href="mailto:shahwaizmughal02@gmail.com"><i class="fa fa-envelope">&nbsp</i>gearupndglow@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>ADDRESS</h3>
                <ul class="list">
                    <li class="list-item"><a href="https://maps.app.goo.gl/d15DomrboBvvgqpt5"><i class="fa fa-map-marker">&nbsp</i>Block no 5, Street 15F, Opposite to Tehzeeb Bakers, Blue Area, Islamabad, Pakistan</a></li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13274.610216576564!2d73.07115399999999!3d33.71793835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbf9bc116caa3%3A0x337cd6075e732737!2sBlue%20Area%2C%20Islamabad%2C%20Islamabad%20Capital%20Territory!5e0!3m2!1sen!2s!4v1703013603986!5m2!1sen!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </ul>
            </div>
            

        </div>
        <div class="text footer-copyright">
            © 2023 SEMESTER PROJECT DESIGNED BY MUHAMMAD SHAHWAIZ, REHAB, MUDASSIR, AKASH
            <br><a href="/privacypolicy">Privacy Policy</a>
        </div>
    </div>
    
    </div>
</footer>
